.profile-container {
  width: 100%;
  max-width: 600px;
  margin: 00px auto;
  text-align: left;
  background: #000;
  color: #00ff66;
  font-family: "Press Start 2P", monospace;
  padding: 30px 20px;
  box-shadow: 0 0 15px #00ff66;
  border-radius: 8px;
}

/* Título */
.profile-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 0 0 8px #00ff66;
}

/* Secciones */
.profile-section {
  margin-bottom: 30px;
}

/* Subtítulo */
.profile-subtitle {
  font-size: 16px;
  margin-bottom: 15px;
  text-shadow: 0 0 6px #00ff66;
}

/* Texto */
.profile-section p {
  font-size: 12px;
  margin-bottom: 10px;
  text-shadow: 0 0 4px #00ff66;
}

/* Cursor estilo retro */
.cursor {
  margin-right: 6px;
  animation: blink 1.2s steps(2, start) infinite;
}

/* Botones perfil */
.profile-btn {
  display: flex;
  gap: 10px;
}

/* Botones */
.edit-btn,
.print-btn {
  margin-top: 20px;
  width: 50%;
}

@media print {
  .btn-exit {
    display: none;
  }

  body {
    background: white;
    color: black;
  }

  .profile-container {
    box-shadow: none;
  }
}
/* Premium */
.premium-status {
  margin: 25px 0;
  padding: 30px 10px 10px 10px;
  border: 1px solid #00ff66;
  background: #000;
  box-shadow: 0 0 5px #00ff66;
  text-align: center;
}

@keyframes terminalGlow {
  from {
    box-shadow: 0 0 8px #00ff66;
  }

  to {
    box-shadow: 0 0 20px #00ff66;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

/* Responsive */
@media (min-width: 768px) {
  .profile-title {
    font-size: 28px;
  }

  .profile-subtitle {
    font-size: 18px;
  }

  .profile-section p {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .profile-btn {
    display: flex;
    flex-wrap: wrap;
  }

  .edit-btn,
  .print-btn {
    margin-top: px;
    width: 100%;
  }
}
