.room-container {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
  background: #000;
  color: #00ff66;
  font-family: "Press Start 2P", monospace;
  padding: 30px 20px;
  box-shadow: 0 0 15px #00ff66;
  border-radius: 8px;
}

.room-charge {
  text-align: center;
  color: #00ff66;
  font-family: "Press Start 2P", monospace;
  font-size: large;
}

.room-title {
  font-size: 34px;
  margin-bottom: 15px;
  text-shadow: 0 0 8px #00ff66;
}

.room-status {
  font-size: 12px;
  margin-bottom: 30px;
  text-shadow: 0 0 6px #00ff66;
}

.room-subtitle {
  font-size: 16px;
  margin-bottom: 15px;
  text-shadow: 0 0 6px #00ff66;
}

.players-list {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  text-align: left;
}

.player-item {
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-shadow: 0 0 4px #00ff66;
}

.host-tag {
  color: #00ffaa;
  text-shadow: 0 0 6px #00ffaa;
}

.start-btn {
  margin-top: 10px;
  padding: 14px 28px;
  font-size: 14px;
}

.cursor {
  margin-right: 6px;
  animation: blink 1.2s steps(2, start) infinite;
}
.theme-label {
  margin-bottom: 10px;
}

.wordsPerPlayer-label {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Input estilo terminal */
.options-input {
  background: #000;
  color: #00ff66;
  border: 2px solid #00ff66;
  padding: 12px 24px;
  font-family: "Press Start 2P", monospace;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 0 10px #00ff66 inset;
  margin-bottom: 10px;
  width: 100%;
}

.options-input::placeholder {
  color: #00ff66;
  opacity: 0.7;
}

.loading-text {
  color: #00ff66;
  padding: 12px;
  font-family: "Press Start 2P", monospace;
}

.premium-lock-message {
  margin-top: 20px;
  padding: 12px;
  text-align: center;
  animation: flicker 1.5s infinite alternate;
}
.subscribe-btn {
  background: #00ff66;
  color: #000;
  border: 2px solid #00ff66;
  padding: 12px 24px;
  font-family: "Press Start 2P", monospace;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 10px #00ff66;
  transition: all 0.2s;
  margin-top: 20px;
}
.subscribe-btn:hover {
  box-shadow: 0 0 20px #00ff66;
  transform: scale(1.05);
}

@media (min-width: 350px) {
  .options-input {
    width: 270px;
  }
}

@media (min-width: 768px) {
  .room-title {
    font-size: 28px;
  }

  .room-status {
    font-size: 14px;
  }

  .room-subtitle {
    font-size: 18px;
  }

  .player-item {
    font-size: 16px;
  }

  .start-btn {
    font-size: 16px;
  }

  .options-input {
    width: 300px;
  }

}

@media (min-width: 992px) {
  .room-title {
    font-size: 32px;
  }

  .player-item {
    font-size: 18px;
  }

  .start-btn {
    font-size: 18px;
  }

  .options-input {
    width: 330px;
  }
  
}

@media (min-width: 436px) {
  .room-title {
    font-size: 28px;
    margin-bottom: 15px;
    text-shadow: 0 0 8px #00ff66;
  }

}